<div fxLayout="row">
  <section class="content" fxFlex="70%">
    <h1>Employees</h1>
    <div fxLayout="row wrap" fxLayoutGap="1% grid">
      <app-employee-card *ngFor="let emp of employees|async; index as i; trackBy trackById" [employee]="emp"
        fxFlex="23rem" class="w-100" (communicate)="communication($event)"></app-employee-card>
    </div>

  </section>

  <section class="sidebar" fxFlex="30%">
    <app-communications-card></app-communications-card>
  </section>
</div>
