<mat-card>
  <form #f="ngForm" [formGroup]="form" (ngSubmit)="save(f)">

    <mat-card-content>
      <div fxLayout="column">

        <div fxFlex="100%" fxLayout="raw wrap" fxLayoutGap="1rem">

          <mat-form-field fxFlex="calc(50%-0.5rem)">
            <input type="text" required matInput placeholder="First Name" formControlName="firstName" name="firstName">
            <mat-error *ngIf="firstName.invalid">
              <span *ngIf="firstName.hasError('required')">
                <mat-icon inline="true">sentiment_very_dissatisfied</mat-icon> First name is required
              </span>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="calc(50%-0.5rem)">
            <input type="text" required matInput placeholder="Last Name" formControlName="lastName" name="lastName">
          </mat-form-field>
        </div>

        <mat-form-field fxFlex="100%">
          <input type="text" required matInput placeholder="Avatar URL" formControlName="avatarUrl" name="avatarUrl">
        </mat-form-field>

        <mat-form-field fxFlex="100%">
          <textarea matInput placeholder="Description" formControlName="description" name="description"></textarea>
        </mat-form-field>

        <div fxFlex="100%" fxLayout="raw" fxLayoutGap="1rem">

          <mat-form-field fxFlex="calc(100%/3-1rem/3)">
            <mat-label>Position</mat-label>
            <mat-select name="position" formControlName="position" required>
              <mat-option *ngFor="let pos of positions" [value]="pos">
                {{pos}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex="calc(100%/3-1rem/3)">
            <input type="number" matInput placeholder="Age" formControlName="age" name="age">
          </mat-form-field>

          <div fxFlex="calc(100%/3-1rem/3)" fxLayout="column">
            <mat-checkbox formControlName="hasEmail" name="hasEmail">Email
            </mat-checkbox>
            <mat-checkbox formControlName="hasPhone" name="hasPhone">Phone
            </mat-checkbox>
          </div>

        </div>

      </div>
    </mat-card-content>

    <mat-card-actions>
      <button mat-button type="reset">
        <mat-icon>clear</mat-icon> Reset
      </button>
      <button mat-button color="primary" type="submit" [disabled]="!form.valid">
        <mat-icon>save</mat-icon> Save
      </button>
    </mat-card-actions>

  </form>
</mat-card>
