<!--The content below is only a placeholder and can be replaced.-->
<div>

  <mat-toolbar class="mat-elevation-z4" color="primary">
    <div fxLayout="raw" fxFill fxLayoutAlign="space-between center">
      <div>
        <a mat-button routerLink="/"><img width="32" src="./assets/icon-white.png" /></a>
        <span [hidden]="!canCreateEmployees">
          <a mat-button routerLink="/employee/wizard" routerLinkActive="active">New Employee</a>
        </span>
      </div>
      <div>
        <mat-slide-toggle color="accent" [checked]="canCreateEmployees" (change)="onChange($event)">Can Create Employees</mat-slide-toggle>
      </div>
    </div>
  </mat-toolbar>

  <div>
    <router-outlet></router-outlet>
  </div>

</div>
