<mat-card>
  <mat-card-header>
    <mat-card-title>Communications to employees</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <mat-list [hidden]="communications.length == 0">
      <mat-list-item *ngFor="let c of communications; trackBy: trackByRecipientId">
        {{c|communicationVerbose}}
      </mat-list-item>
    </mat-list>

    <p [hidden]="communications.length != 0">
      <mat-icon inline="true">offline_bolt</mat-icon> No communications!
    </p>
  </mat-card-content>
</mat-card>
