<div fxLayout="row">
  <section class="content" fxFlex="70%">
    <div *ngIf="employee|async; let emp; else loading">
      <h1>
        Employee {{emp.id}}
        <button mat-icon-button color="primary" (click)="refresh(emp.id)">
          <mat-icon>refresh</mat-icon>
        </button>
      </h1>
      <app-employee-card [employee]="emp" (communicate)="communication($event)"></app-employee-card>
    </div>
    <ng-template #loading>
      <h1>
        <mat-icon inline="true" class="animated infinite rotateIn">loop</mat-icon> Loading employee...
      </h1>
    </ng-template>
  </section>

  <section class="sidebar" fxFlex="30%">
    <app-communications-card></app-communications-card>
  </section>
</div>
