/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.w-100 {
  width: 100%;
}

.mat-grid-tile.p-md figure {
  padding: 1.5rem;
}

.mat-grid-tile.p-sm figure {
  padding: 0.5rem;
}

.mat-button.active {
  background-color:#ff4081;
}

.mat-button.active .mat-button-wrapper {
  /* color: red; */
}

.mat-toolbar .mat-slide-toggle {
  font-size: 14px;
}
