<div [@glow]="changed ? 'changed' : 'stable'" (@glow.done)="stopGlowing($event)">
  <mat-card class="employee-card">
    <mat-card-header>
      <div mat-card-avatar class="employee-header-avatar" [style.backgroundImage]="'url(' + employee.avatarUrl + ')'">
      </div>
      <mat-card-title>
        <a [routerLink]="['/employee', employee.id]">{{employee.firstName}} {{employee.lastName}}</a>
        (<span [appAgeHighlighter]="levels">{{employee.age}}</span> yo)
      </mat-card-title>
      <mat-card-subtitle [ngSwitch]="employee.position">
        <span>
          {{employee.position}}
          <mat-icon [inline]="true" *ngSwitchCase="Position.DEV">bug_report</mat-icon>
          <mat-icon [inline]="true" *ngSwitchCase="Position.ARCH">domain</mat-icon>
          <mat-icon [inline]="true" *ngSwitchCase="Position.RES">school</mat-icon>
          <mat-icon [inline]="true" *ngSwitchCase="Position.CTO">near_me</mat-icon>
          <mat-icon [inline]="true" *ngSwitchCase="Position.PM">timelapse</mat-icon>
        </span>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{employee.description}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button *ngIf="employee.hasEmail" (click)="communicateBy(Channel.EMAIL)">
        <mat-icon>email</mat-icon> Message
        <span [hidden]="!messages[Channel.EMAIL]">
          ( {{messages[Channel.EMAIL]}} )
        </span>
      </button>
      <button mat-button color="warn" *ngIf="employee.hasPhone" (click)="communicateBy(Channel.PHONE)">
        <mat-icon>phone</mat-icon> Call
        <span [hidden]="!messages[Channel.PHONE]">
            ( {{messages[Channel.PHONE]}} )
          </span>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
